@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Rubik&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* .material-icons.md-dark { color: @apply ligh; }
.material-icons.md-light { color: rgba(0, 0, 0, 0.54); } */

.contLayout{
  @apply bg-lightShades-500 dark:bg-darkShades-500 min-w-full min-h-screen;
}

.layout{
  @apply bg-lightShades-500 dark:bg-darkShades-500 grid grid-cols-4 gap-x-5 lg:gap-5 lg:grid-cols-12;
}

/*Text Styles*/
.Titles {
  @apply text-lightAccents-500 dark:text-darkAccents-500;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;   
}

.Subtitles {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.MateriaText{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.UnidadTitle {
  @apply text-darkShades-500 dark:text-lightShades-500;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.Text-BreadCrumbs {
  @apply text-darkShades-500 dark:text-lightShades-500;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

/*Components*/
.NavMenu {
  @apply bg-mainBrand-500 col-span-4 sticky top-16 lg:top-0 lg:static lg:grid grid-cols-4 gap-5 min-h-screen lg:col-span-3 lg:px-4 z-0;
}

.titleMenuMovil {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 4.25rem;
  box-shadow: 0px 4px 4px rgba(35, 27, 24, 0.25);
  @apply bg-mainBrand-500 col-span-4 sticky top-0 flex lg:hidden z-10;
}

.titleMenu {
  margin-top: 1.5rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 350px;
  @apply hidden lg:flex lg:col-span-4;
}

.Menus {
  @apply lg:block col-span-4 px-4 lg:px-0;
}

.avatar {
  @apply rounded-full;
  width: 200px;
  height: 200px;
  /*left: 53px;
  top: 24px;*/
  box-shadow: 4px 4px 4px rgba(35, 27, 24, 0.25);
}

.cardMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  min-width: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  @apply bg-lightShades-500 dark:bg-darkShades-500 ;
}

.buttonPadding{
  padding: 0.5rem;
}

.activeFocusElements{
  @apply focus:outline-none focus:ring-2 focus:ring-lightAccents-500 dark:focus:ring-darkAccents-500;
}

.TitleMateria {
  @apply MateriaText activeFocusElements text-lightAccents-500 dark:text-darkAccents-500;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

.TitleMateria:hover{
  cursor: pointer;
}

.contContenido{
  @apply grid col-span-4 gap-5 grid-rows-6 lg:col-span-9 lg:col-start-4 lg:grid-cols-9;
}

.navContenido{
  @apply col-span-9 col-start-1 row-start-1 row-span-1 flex flex-row justify-around items-center;
}

.contenido{
  @apply col-span-4 row-span-6 p-4 lg:p-0 lg:col-span-7 lg:col-start-2 lg:row-start-2 lg:row-span-5;
}

.bodyPost{
  @apply pb-8;
}

.bodyPost > h2{
  padding-top: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 37px; 
}

.bodyPost > ul{
  list-style-type: disc;
  list-style-position: inside;
}

.bodyPost ol{
  list-style-type: disc;
  list-style-position: inside;
}

.bodyPost > ol > li::marker{
  @apply text-lightAccents-500 dark:text-darkAccents-500;
}

.bodyPost ol > li > ul{
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 1rem;
}

.bodyPost > ol > li > ul > li::marker{
  @apply text-lightAccents-500 dark:text-darkAccents-500;
}

.bodyPost > ul > li::marker{
  @apply text-lightAccents-500 dark:text-darkAccents-500;
}


.itemLink:hover{
  @apply text-lightShades-700 dark:text-darkAccents-200;
  cursor: pointer;
}

.activeLink{
  @apply text-lightAccents-500 dark:text-darkAccents-500;
}

.activeLink::before{
  content: "";
  @apply bg-lightAccents-500 dark:bg-darkAccents-500;
  margin-right: 0.5rem;
  padding-right: 2.5px;
  width: 4px;
  height: 24px;
  border-radius: 50px;
}

@media(min-width:1024px){
  .NavMenu {
    box-shadow: 4px 0px 4px rgba(35, 27, 24, 0.25);
  }

  .TitleMateria{
    @apply Subtitles;
  }

  .Titles{
    font-size: 60px;
    line-height: 70px;
  }

}